.mstheme
{
	top-bar-button: url(chglb.gif);
	version: 1.0;
	navbutton-background-color:  rgb(153,204,204);
}
.mstheme-topbar-font
{
	font-family: Times New Roman, Times;
	color: rgb(0,0,0);
}
body
{
	font-family: Arial, Helvetica;
	background-image: url(chbkgnd.gif); 
}
h1
{
	font-family: Times New Roman, Times;
}
h2
{
	font-family: Times New Roman, Times;
}
h3
{
	font-family: Times New Roman, Times;
}
h4
{
	font-family: Times New Roman, Times;
}
h5
{
	font-family: Times New Roman, Times;
}
h6
{
	font-family: Times New Roman, Times;
}
