.mstheme
{
	nav-banner-image: url(acdbnr.gif);
	separator-image: url(acdrule.gif);
	list-image-1: url(acdbull1.gif);
	list-image-2: url(acdbull2.gif);
	list-image-3: url(acdbull3.gif);

	navbutton-horiz-normal: url(acdhb.gif);
	navbutton-horiz-hovered: url(acdhbh.gif);
	navbutton-horiz-pushed: url(acdhbs.gif);
	navbutton-vert-normal: url(acdvb.gif);
	navbutton-vert-pushed: url(acdvbs.gif);
	navbutton-vert-hovered: url(acdvbh.gif);
	navbutton-home-normal: url(acdhome.gif);
	navbutton-home-hovered: url(acdhomeh.gif);
	navbutton-home-pushed: url(acdhomes.gif);
	navbutton-next-normal: url(acdnext.gif);
	navbutton-next-hovered: url(acdnexth.gif);
	navbutton-next-pushed: url(acdnexts.gif);
	navbutton-prev-normal: url(acdprev.gif);
	navbutton-prev-hovered: url(acdprevh.gif);
	navbutton-prev-pushed: url(acdprevs.gif);
	navbutton-up-normal: url(acdup.gif);
	navbutton-up-hovered: url(acduph.gif);
	navbutton-up-pushed: url(acdups.gif);
}
.mstheme-bannertxt
{
	font-family: Verdana, Arial, Helvetica;
	color: rgb(255,255,255);
	text-align: center;
	vertical-align: middle;
}
.mstheme-horiz-navtxt
{
	font-family: Verdana, Arial, Helvetica;
	color: rgb(0,0,0);
	text-align: center;
	vertical-align: middle;
}
.mstheme-vert-navtxt
{
	font-family: Verdana, Arial, Helvetica;
	color: rgb(0,0,0);
	text-align: center;
	vertical-align: middle;
}
.mstheme-navtxthome
{
	font-family: Verdana, Arial, Helvetica;
	color: rgb(0,0,0);
	text-align: center;
	vertical-align: middle;
}
.mstheme-navtxtnext
{
	font-family: Verdana, Arial, Helvetica;
	color: rgb(0,0,0);
	text-align: center;
	vertical-align: middle;
}
.mstheme-navtxtprev
{
	font-family: Verdana, Arial, Helvetica;
	color: rgb(0,0,0);
	text-align: center;
	vertical-align: middle;
}
.mstheme-navtxtup
{
	font-family: Verdana, Arial, Helvetica;
	color: rgb(0,0,0);
	text-align: center;
	vertical-align: middle;
}
